VITE_APP_ENV=production
VITE_API_URL=
VITE_API_PROXY_TARGET=https://api.example.com
VITE_WS_URL=
VITE_MAPBOX_ACCESS_TOKEN=
VITE_MAPBOX_GL_JS_URL=https://api.mapbox.com/mapbox-gl-js/v3.25.0/mapbox-gl.js
VITE_MAPBOX_GL_CSS_URL=https://api.mapbox.com/mapbox-gl-js/v3.25.0/mapbox-gl.css
VITE_MAPBOX_STREETS_STYLE=mapbox://styles/mapbox/streets-v12
VITE_MAPBOX_SATELLITE_STYLE=mapbox://styles/mapbox/satellite-streets-v12
VITE_REVERSE_GEOCODE_URL=https://nominatim.openstreetmap.org/reverse
